.projectContainer {
    margin: 1vw; 
    margin-left: 10vw; 
    display: grid; 
    grid-template-columns: repeat(2, 40vw); 
    grid-template-rows: repeat(2, auto); 
    background: linear-gradient(to right, rgba(3,66,129,1), rgba(3,45,87,1)); color: rgb(255, 255, 255);    
    border-radius: 0.5vw; 
    margin: 2vw; 
    border: 0.2vw solid var(--col5); 
    border-radius: 0.5vw;   
}
.infoContainer {  
    margin: 2vw; 
}

.projectHeader {
    font-size: 4vw; 
    color: var(--col5);
    /* -webkit-text-stroke: 0.1vw var(--col5); */
    padding: 0.5vw; 
    text-transform: uppercase; 
}

.projectInfo {
    grid-column-start: 1; 
    grid-row-start: 2; 
    position: relative; 
    font-size: 0.9vw; 
    color: var(--col5);
    padding: 1vw; 
    font-weight: 100; 
}

.imageHolder {
    border-radius: 0.5vw; 
    margin: 2vw; 
    border: 0.2vw solid var(--col5); 
    border-radius: 0.5vw; 
    width: 40vw; 
    height: 38vh; 
    overflow: hidden;
    margin-left: 12vw;  
}