@keyframes gradient {
    0% {
      background-position: 0%;
    }
    50% {
      background-position: 100%;
    }
    100% {
      background-position: 0%;
    }
  }
  

.NavbarItems {
    /* background: linear-gradient(-45deg, var(--) 0%, #240090 12.5%, #190061 25%, #0C0032 38%, black 50%, black 62%, #190061 75%, #240090 88%, #3500D3 100%);
    background-size:  400% 400%; */
    background: var(--col1);
    height: 100px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 1.2rem; 
    /* animation: gradient 20s ease infinite; */
    box-shadow:
      1px 1px var(--col6)
}

.navbar-logo {
    color: var(--col6); 
    justify-self: start;
    margin-left: 20px; 
    cursor: pointer;
}

.nav-menu {
    display: grid; 
    grid-template-columns: repeat(5, auto); 
    grid-gap: 10px; 
    list-style: none; 
    text-align: center; 
    font-weight: bold; 
    width: 70vw; 
    justify-content: end;
    margin-right: 2rem; 
}

.nav-links {
    color: var(--col6); 
    text-decoration: none; 
    padding: 0.5rem 1rem; 
}

.nav-links:hover {
    background-color: var(--col3);
    border-radius: 4px; 
    transition: all 0.2s ease-out; 
}