
.btn {
    background: var(--col1); 
    position: relative; 
    padding: 10px 30px; 
    border: 2px solid var(--col6); 
    display: inline-block; 
    text-decoration: none; 
    font-size: 3vw; 
    color: var(--col6); 
    letter-spacing: 2px; 
    text-transform: uppercase; 
    transition: 0.5s; 
    margin: 20px; 
}

.btn:hover {
    color: #111; 
    cursor: pointer;
}
  