:root {
    --col1: #000000;
    --col2: #002f06;
    --col3: #1c6000;
    --col4: #27a102;
    --col5: #1fea00;
    --col6: #01fe87; 
  }

.textbox {
    background: var(--col1); 
    position: relative; 
    padding: 10px 30px; 
    border: 2px solid var(--col6);
    border-radius: 25px;  
    display: inline-block; 
    text-decoration: none; 
    letter-spacing: 2px; 
    text-transform: uppercase; 
    transition: 0.5s; 
    margin: 20px; 
}

h4 {
    color: var(--col5); 
}