@tailwind base; 
@tailwind components; 
@tailwind utilities; 

:root {
  --col1: #000000;
  --col2: #002f06;
  --col3: #1c6000;
  --col4: #27a102;
  --col5: #1fea00;
}

* {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--col1); 
  min-height: 100vh;
}

h2 {
  position: relative; 
  top: 20px; 
  font-size: 12vw; 
  color: var(--col1);
  -webkit-text-stroke: 0.3vw #01fe87;
  text-transform: uppercase; 
}

h2::before {
  content: attr(data-text); 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 100%; 
  color: #01fe87; 
  -webkit-text-stroke: 0vw #01fe87; 
  border-right: 2px solid #01fe87; 
  overflow: hidden; 
  /* animation: animate 2s linear 0.5s 1 normal forwards; */
  animation: animate 2s linear 0.5s 1 normal forwards, flash 1s infinite; 
}


@keyframes animate {
  0%{
    width: 0; 
  }
  50% {
    width: 27; 
  }
  100% {
    width: 54%; 
  }
}

@keyframes flash {
  0%{
    border-right: 2px solid #01fe87;  
  }
  50% {
    border-right: 2px solid var(--col1);  
  }
  100% {
    border-right: 2px solid #01fe87;  
  }
}

h3 {
  position: relative; 
  top: 20px; 
  font-size: 7vw; 
  color: var(--col1);
  -webkit-text-stroke: 0.1vw #01fe87;
  text-transform: uppercase; 
}

.grid-container {
  width: 10 px;
  height: 20px; 
  align-items: center; 
  display: grid; 
  grid-template-columns:  1fr 1fr;
  grid-gap: 0px; 
}

li {
  align-items: inline; 
}
/* =================================================================
colors:https://color.adobe.com/search?q=dark
#121D26
#394D59
#4D6873
#C1D4D9
#0D0D0D
*/ 