@tailwind base; 
@tailwind components; 
@tailwind utilities; 

:root {
  --col1: #1A1A1D;
  --col2: #4E4E50;
  --col3: #6F2232;
  --col4: #950740;
  --col5: #C3073f;
}

* {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
  font-family: 'Archivo', sans-serif;
}

body {
  background-color: var(--col1); 
}


/* =================================================================
colors:https://color.adobe.com/search?q=dark
#121D26
#394D59
#4D6873
#C1D4D9
#0D0D0D
*/ 