* {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
  font-family: 'Archivo', sans-serif;
}

body {
  background-color: #00001a
}

/* =================================================================
colors:https://color.adobe.com/search?q=dark
#121D26
#394D59
#4D6873
#C1D4D9
#0D0D0D
*/ 